
* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Muli', sans-serif;
  background: url(/bg.jpg) no-repeat center;
}

.container {
  text-align: center;
  font-size: 32px;
}

h1 {
  padding: 20px;
}

.choiceBar {
  padding: 20px;
}

input.largerCheckbox {
  width: 40px;
  height: 40px;
}
