
* {
  box-sizing: border-box;
}


body {
  font-family: 'Muli', sans-serif;
  background: url(/bg.jpg) no-repeat center;
}

.container {
  text-align: center;
}

h1 {
  padding: 20px;
}

.choiceBar {
  padding: 20px;
}
